
@page "/addWorkout/{userId:int}"
@page "/workout/edit/{userId:int}"
@using Netrom.Components.Models
@inject NavigationManager Navigation

<h2>Adding workout for @UserToShow.FirstName @UserToShow.LastName</h2>

@rendermode InteractiveServer
<EditForm
    Model="@Workout"
    OnValidSubmit="@SaveWorkout"
    FormName="AdduserForm">
    <DataAnnotationsValidator/>
    <InputNumber @bind-Value="Workout.Id" hidden></InputNumber>
    <div class="form-group">
        <label>Workout Name :</label>
        <div>
            <InputText @bind-Value="Workout.Name" class="form-control col-sm-3"/>
            <ValidationMessage For="@(() => Workout.Name)"/>
        </div>
    </div>
    <div class="form-group">
        <label>Workout Date :</label>
        <div>
            <InputDate @bind-Value="Workout.Date" class="form-control col-sm-3"/>
            <ValidationMessage For="@(() => Workout.Date)"/>
        </div>
    </div>
    <button type="submit">Submit</button>
</EditForm>