@page "/addWorkout"
@inject NavigationManager Navigation
<h3>AddWorkoutPage</h3>


<EditForm
    Model="@Workout"
    OnValidSubmit="@SaveWorkout"
    FormName="AdduserForm">
    <InputNumber @bind-Value="Workout.Id" hidden></InputNumber>
    <div class="form-group">
        <label>Workout Name :</label>
        <div>
            <InputText @bind-Value="Workout.Name" class="form-control col-sm-3"/>
            <ValidationMessage For="@(() => Workout.Name)"/>
        </div>
    </div>
    <div class="form-group">
        <label>Workout Date :</label>
        <div>
            <InputDate @bind-Value="Workout.Date" class="form-control col-sm-3"/>
            <ValidationMessage For="@(() => Workout.Date)"/>
        </div>
    </div>
    @* <div class="form-group"> *@
    @*     <label>Gender :</label> *@
    @*     <div> *@
    @*         <InputText @bind-Value="Workout.User.FirstName" class="form-control col-sm-3" /> *@
    @*         <ValidationMessage For="@(() => Workout.User.FirstName)" /> *@
    @*     </div> *@
    @* </div> *@

    <button type="submit">Submit</button>
</EditForm>