@page "/users"
@using Netrom.Components.Models

<h2>Clients</h2>

<Button Color="Color.Dark" Size="Size.Medium">
    <NavLink class="butonAddUser" href="/user/add" >Add User</NavLink>
</Button>

@* <DataGrid TItem="UserDto" *@
@*           Data="@Users"  *@
@*           Filterable *@
@*           FilterMethod="DataGridFilterMethod.StartsWith" *@
@*           Responsive *@
@*           Editable *@
@*           AllowFiltering="true" *@
@*           AllowPaging="true" *@
@*           PageSize="@pageSize" *@
@*           TotalItems="@totalUsers" *@
@*           CurrentPage="@currentPage" *@
@*           OnPageChanged="LoadData"> *@
@* *@
@*     <DataGridColumn TItem="UserDto" Field="FirstName" Caption="First Name"></DataGridColumn> *@
@*     <DataGridColumn TItem="UserDto" Field="LastName" Caption="Last Name"></DataGridColumn> *@
@*     <DataGridColumn TItem="UserDto" Field="Birthday" DisplayFormat="{0:MM/dd/yyyy}" Caption="Birthday"></DataGridColumn> *@
@*     <DataGridColumn TItem="UserDto" Field="Gender" Caption="Gender"></DataGridColumn> *@
@*     <DataGridCommandColumn TItem="UserDto" NewCommandAllowed="true"> *@
@*         <EditCommandTemplate> *@
@*             <Button Color="Color.Dark" Clicked="() => EditUser(context)"> *@
@*                 <NavLink class="butonEdit" href="@($"/user/edit/{context.Item.Id}")">Edit</NavLink> *@
@*             </Button> *@
@*             <Button Color="Color.Primary" Clicked="() => AddWorkout(context)">Add Workout</Button> *@
@*         </EditCommandTemplate> *@
@*         <DeleteCommandTemplate> *@
@*             <Button Color="Color.Primary" Clicked="() => OnDeleteButtonClicked(context)">Delete</Button> *@
@*         </DeleteCommandTemplate> *@
@*         <NewCommandTemplate> *@
@*             <Button Color="Color.Dark"> *@
@*                 <NavLink class="butonAdd" href="/user/add">Add user</NavLink> *@
@*             </Button> *@
@*         </NewCommandTemplate> *@
@*     </DataGridCommandColumn> *@
@*      *@
@* </DataGrid> *@

<div class="cards-container">
    @foreach (var user in Users)
    {
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@user.FirstName @user.LastName</h5>
            <p class="card-text">Birthday: @user.Birthday.ToString("MM/dd/yyyy")</p>
            <p class="card-text">Gender: @user.Gender</p>
            <div class="card-buttons">
                <Button Color="Color.Dark">
                    <NavLink class="butonEdit" href="@($"/user/edit/{user.Id}")">Edit</NavLink>
                </Button>
                <Button Color="Color.Primary" Clicked="() => AddWorkout(user)">Add Workout</Button>
                <Button Color="Color.Primary" Clicked="() => OnDeleteButtonClicked(user)">Delete</Button>
            </div>
        </div>
    </div>
    }
</div>
<DeleteConfirmationDialog @ref="DeleteConfirmation" OnConfirm="HandleDeleteConfirmed" />

<div class="pagination">
    <Button Color="Color.Primary" Clicked="() => ChangePage(currentPage - 1)" Disabled="@IsPreviousDisabled">Previous</Button>
    <span>Page @currentPage of @totalPages</span>
    <Button Color="Color.Primary" Clicked="() => ChangePage(currentPage + 1)" Disabled="@IsNextDisabled">Next</Button>
</div>




    